.popup__submit-button {
  border: none;
  background-color: black;
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  outline: none;
  margin-top: 48px;
}

.popup__submit-button:hover {
  opacity: 0.8;
  transition: opacity .3s ease-out;
}

@media screen and (max-width: 768px) {
  .popup__submit-button {
    margin-top: 45px;
  }
}
