.profile__title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 18px;
  max-width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .profile__title {
    margin-right: 10px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
