.popup__heading {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 54px;
}

@media screen and (max-width: 768px) {
  .popup__heading {
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 22px;
  }
}
